:root {
  --main-color: rgba(34, 36, 37, 1);
  --background-color-white: rgba(255, 255, 247);
  --text-color: rgba(34, 36, 37, 1);
  --blur-: hsl(0, 29%, 49%);
}
html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  background-color: var(--main-color);
  min-height: 100vh;
}
body.active {
  /* --main-color: rgba(255, 255, 247); */
  --background-color-white: rgba(34, 36, 37, 1);
  --text-color: rgba(34, 36, 37, 1);
}
main {
  position: absolute;
  width: 100%;
}
.trial {
  position: fixed;
  background-color: white;
  top: -50px;
  left: -100px;
  width: 50px;
  height: 100px;
  z-index: -1;
  transition: all 1.2s ease-in-out;
  transform: rotate(45deg);
}

.trial.active {
  transform: scale(100) rotate(45deg);
}

/*Start of Navigation Bar*/
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}
.nav-title > h2 > a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--background-color-white);
}
.nav-title > h2 > a:hover {
  color: #0c0c32;
}
.navlist {
  position: fixed;
  right: 40px;
}
.nav-items {
  display: inline-block;
  list-style: none;
  padding: 10px;
  font-size: 18px;
}
.nav-items > a {
  text-decoration: none;
  color: var(--background-color-white);
}
.nav-items > a:hover,
.nav-link.active {
  color: bisque;
  transition: 0.25s;
}

.nav-items > a > i {
  padding-right: 5px;
}

/*Start of Dark & Light Mode*/
.light-dark {
  position: fixed;
  right: 0;

  padding: 10px 15px;
  border-radius: 50%;
}
.light-dark > i {
  color: var(--default-color);
  cursor: pointer;
}
/*End of Dark & Light Mode*/
/*End of Navigation Bar*/

/*Start of Global Classes*/
.main-header {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  color: var(--background-color-white);
}
/*End of Global Classes*/
.preloader{
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.loader-img > img{
  width: 300px;
  transform: rotate(25deg);
  animation: plane 1s linear infinite;
}
@keyframes plane{
  25%{
    transform:translateX(35%);
  
  }
  50%{
    transform: translateX(40%);
  }
  75%{
    transform: translateX(50%);
  }
  100%{
    transform: translateX(70%);
    
  }
}


/*Start of Hero Section*/
.Hero {
  width: 100%;
}
.home-intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.intro > h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  color: var(--background-color-white);
}
.intro > p {
  font-size: 30px;
  text-align: center;
  color: var(--background-color-white);
}

.img > img {
  width: 400px;
  border-radius: 10%;
  z-index: -10;
}

/*End of Hero Section*/

/*Start of About Section*/
.About {
  width: 100%;
}
.details {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*Start of Experience Section*/
.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card-container {
  display: flex;
  border: 1px solid var(--background-color-white);
  color: var(--background-color-white);
  padding: 20px;
  border-radius: 10px;
}
.list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.list > li {
  list-style: none;
}
.fa-html5 {
  color: rgb(227, 76, 38);
}
.fa-css3-alt {
  color: rgb(41, 101, 241);
}
.fa-square-js {
  color: rgb(240, 219, 79);
}
.fa-wordpress {
  color: rgb(0, 116, 156);
}
.fa-git-alt {
  color: rgb(241, 80, 47);
}
/*End of About Section*/

/*Start of Projects*/
.Projects {
  width: 100%;
}
.work {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1 1 0;
}

.main-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid var(--background-color-white);
  margin: 10px;
  padding: 15px;
  flex-wrap: wrap;
  width: 900px;
}
.work-description {
  text-align: justify;
  padding: 10px;
  color: var(--background-color-white);
}

.tech-stack {
  display: flex;
  flex-direction: row;
}
.tech-stack > li {
  list-style: none;
  padding-right: 10px;
  padding-top: 10px;
}

.view-links {
  padding-top: 15px;
}
.view-links > a {
  border: 1px solid black;
  padding: 7px;
  color: var(--background-color-white);
  text-decoration: none;
}
.fa-arrow-right {
  transform: rotate(-45deg);
}

.img-container > img {
  padding-top: 10px;
  width: 300px;
}

/*End of Projects*/

/*Start of Contact Section*/
.Contacts {
  width: 100%;
}

.cntct-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.cntct-items {
  color: var(--background-color-white);
  text-decoration: none;
  padding: 5px;
}
/*End of Contact Section*/

/*Start of Media Queries*/
@media (min-width: 650px) {
  .nav-items > a > i {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .border {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding-right: 30px;
    padding-left: 40px;
  }
  .navlist {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-items > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .intro > h2,
  p {
    padding-bottom: 20px;
  }

  .prjct-list > div {
    width: auto;
  }
  .card-container {
    width: 80%;
    margin: 5px;
  }
  .main-list {
    width: 90%;
  }
  .title-tdl {
    text-align: center;
  }
  br {
    display: none;
  }
  .img-container > img {
    width: 320px;
  }

  .techs {
    display: none;
  }
}
@media (max-width: 400px) {
  .nav-items > a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50px;
  }
}

/*End of Media Queries*/


/*Animated Airplane Moving With A Text StandBy on Pre-Loader*/